---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact";

export const prerender = true;
---

<Layout title="Contacto | Nicolas Moreno">
  <div class="pt-32 pb-20 min-h-screen flex flex-col justify-center">
    <div class="px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto w-full">
      <div class="mb-16 text-center">
        <h1 class="text-5xl md:text-7xl font-bold font-space mb-6">
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r from-cyan-400 to-blue-500"
          >
            Hablemos
          </span>
        </h1>
        <p class="text-xl text-gray-400 max-w-2xl mx-auto">
          ¿Tienes un proyecto ambicioso? Estoy listo para el reto.
        </p>
      </div>

      <Contact client:load />
    </div>
  </div>
</Layout>
