---
import Layout from "../layouts/Layout.astro";
import ProjectsComponent from "../components/Projects";

export const prerender = true;
---

<Layout title="Proyectos | Nicolas Moreno">
	<section class="min-h-screen pt-32 pb-20 relative bg-[var(--bg-primary)]">
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-5xl md:text-7xl font-bold text-[var(--text-primary)] mb-20 font-space tracking-tighter text-center">
                Mis <span class="text-transparent bg-clip-text bg-gradient-to-r from-[var(--accent-primary)] to-amber-500">Proyectos</span>
            </h2>
			<ProjectsComponent client:load />
		</div>
	</section>
</Layout>
